*{
    box-sizing:border-box;
}

.app-header{
    background-color:#1e293b;
    color:white;
    padding:20px;
    margin-bottom:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-actions{
    display:flex;
    gap:10px;
}

.header-button{
    padding:10px 16px;
    border:none;
    border-radius:8px;
}

.app-header h1{
    margin:0;
}

.app-header p{
    margin:5px 0 0;
}